@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Regular.woff2') format('woff2'),
         url('../fonts/Unbounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded Blond';
    src: url('../fonts/Unbounded-Blond.woff2') format('woff2'),
         url('../fonts/Unbounded-Blond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Medium.woff2') format('woff2'),
         url('../fonts/Unbounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre';
    src: url('../fonts/Cygre-Regular.woff2') format('woff2'),
         url('../fonts/Cygre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cygre';
    src: url('../fonts/Cygre-Bold.woff2') format('woff2'),
         url('../fonts/Cygre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}