<footer id="contacts" class="@@el footer">
  <div class="container container--size-md footer__container">
    <div class="row footer__row">
      <div class="row__col--9 footer__row-col footer__row-col--appeal">
        <picture class="d-sm-block footer__appeal-main-action-picture">
          <source
            srcset="images/footer-phone@2x.webp 2x,
                    images/footer-phone.webp"
                    type="image/webp">
          <img
            src="images/footer-phone.png"
            srcset="images/footer-phone@2x.png 2x"
            alt="Связаться с нами"
            width="120" height="235">
        </picture>
        <div class="u-box u-box--theme-gradient-accent footer__appeal">
          <picture class="footer__appeal-star">
            <source
              srcset="images/star@2x.webp 2x,
                      images/star.webp"
                      type="image/webp">
            <img
              src="images/star.png"
              srcset="images/star@2x.png 2x"
              alt="Пишите нам!"
              width="102" height="102">
          </picture>
          <div class="footer__appeal-main">
            <div class="title title-size-4 footer__appeal-main-title">Хотите предложить сотрудничество, идею, стать blockchain-программистом, или просто написать сообщение<br><br>- ПИШИТЕ НАМ!</div>
            <div class="footer__appeal-main-action">
              <button type="button" class="btn-call btn-call--theme-accent btn-call--size-lg footer__appeal-main-action-btn" data-modal="popup-form">Связаться с&nbsp;нами</button>
              <picture class="d-sm-none footer__appeal-main-action-picture">
                <source
                  srcset="images/footer-phone@2x.webp 2x,
                          images/footer-phone.webp"
                          type="image/webp">
                <img
                  src="images/footer-phone.png"
                  srcset="images/footer-phone@2x.png 2x"
                  alt="Связаться с нами"
                  width="120" height="235">
              </picture>
            </div>
          </div>
          <div class="footer__appeal-inner">
            <a href="/" class="d-sm-none footer__appeal-logo">
              <span class="footer__appeal-logo-suptitle">Децентрализованные</span>
              <span class="footer__appeal-logo-title">Решения</span>
            </a>
            <div class="social-list footer__appeal-social">
              <ul class="social-list__inner ">
                <li class="social-list__item">
                  <a href="#" class="social-list__link">
                    <svg class="u-icon">
                      <use xlink:href="images/icons/icons.svg#telegram-logo"></use>
                    </svg>
                  </a>
                </li>
                <li class="social-list__item">
                  <a href="#" class="social-list__link">
                    <svg class="u-icon">
                      <use xlink:href="images/icons/icons.svg#discord-logo"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row__col--3 footer__row-col footer__row-col--info">
        <div class="u-box u-box--theme-gray footer__info">
          <a href="/" class="d-sm-block footer__appeal-logo">
            <span class="footer__appeal-logo-suptitle">Децентрализованные</span>
            <span class="footer__appeal-logo-title">Решения</span>
          </a>
          <div class="d-md-none footer__info-text">
            <p><a href="privacy.html" target="_blank">Пользовательское соглашение</a></p>
            <p>АО Управляющая Компания Децентрализованные Решения</p>
            <p>ИНН 6164143591</p>
            <p>ОГРН 1246100003016</p>
            <p>г. Ростов-на-Дону</p>
            <p><a href="mailto:egerasimov81@yandex.ru" target="_blank">egerasimov81@yandex.ru</a></p>
            <p><a href="tel:+79185992474" target="_blank">+7 918 599-24-74</a></p>
          </div>
          <div class="d-md-block footer__info-text">
            <p><a href="#" target="_blank">Пользовательское соглашение</a><br>АО Управляющая Компания Децентрализованные Решения<br>ИНН 6164143591</p>
            <p>ОГРН 1246100003016<br>г. Ростов-на-Дону<br><a href="mailto:egerasimov81@yandex.ru" target="_blank">egerasimov81@yandex.ru</a><br><a href="tel:+79185992474" target="_blank">+7 918 599-24-74</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <p class="footer__copyright-title">© 2024 Все права защищены</p>
      <p class="footer__copyright-design">
        <a href="#" target="_blank">Дизайн сайта</a>
      </p>
    </div>
  </div>
</footer>