<header class="@@el header">
  <div class="container container--size-md header__container">
    <div class="u-box u-box--theme-gray header__inner">
      <a href="/" class="logo header__logo">
        <picture class="logo__picture">
          <img src="images/logo-theme-white.svg" alt="Децентрализованные решения">
        </picture>
      </a>
      <div class="d-lg-none header__dropdown">
        <nav class="header__nav" role="navigation">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="/" class="header__nav-link">Главная</a>
            </li>
            <li class="header__nav-item">
              <a href="./#services-section" class="header__nav-link">Услуги</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">Криптообмен</a>
            </li>
            <li class="header__nav-item">
              <a href="virtual-computers.html" class="header__nav-link">Серверы</a>
            </li>
            <li class="header__nav-item">
              <a href="information-and-cyber-security.html" class="header__nav-link">Кибербезопасность</a>
            </li>
            <li class="header__nav-item">
              <a href="documents.html" class="header__nav-link">Документы</a>
            </li>
            <li class="header__nav-item">
              <a href="#contacts" class="header__nav-link">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="social-list header__social">
          <ul class="social-list__inner">
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="u-icon">
                  <use xlink:href="images/icons/icons.svg#telegram-logo"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="u-icon">
                  <use xlink:href="images/icons/icons.svg#discord-logo"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="js-header-toggle d-lg-block header__toggle">
        <svg class="u-icon">
          <use xlink:href="images/icons/icons.svg#menu-icon"></use>
        </svg>
        <svg class="u-icon">
          <use xlink:href="images/icons/icons.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="d-lg-block header__dropdown header__dropdown--mobile">
    <nav class="header__nav" role="navigation">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Главная</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Услуги</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Криптообмен</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Серверы</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Кибербезопасность</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Документы</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="social-list header__social">
      <ul class="social-list__inner">
        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#telegram-logo"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#discord-logo"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>