.footer {
  padding: var(--rhythm-1) 0 0;
  position: relative;
  @media (max-width: $sm) {
    padding-top: 164rem;
  }
  &__container {
  }
  &__row {
    align-items: flex-end;
    flex-wrap: nowrap;
    @media (max-width: $md) {
      flex-wrap: wrap;
    }
  }
  &__row-col {
    &--appeal {
      @media (max-width: $exl) {
        max-width: initial;
        flex-grow: 1;
        flex-basis: initial;
      }
      @media (max-width: $md) {
        max-width: 100%;
        margin-bottom: var(--rhythm-3);
        flex-basis: 100%;
      }
      @media (max-width: $sm) {
        position: relative;
      }
    }
    &--info {
      @media (max-width: $exl) {
        max-width: 400rem;
        flex-basis: 400rem;
      }
      @media (max-width: $lg) {
        max-width: 344rem;
        flex-basis: 344rem;
      }
      @media (max-width: $md) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }
  &__appeal {
    padding: var(--rhythm-6);
    @media (max-width: $lg) {
      z-index: 1;
    }
    @media (max-width: $lg) {
      padding: 25rem 31rem;
    }
    @media (max-width: $sm) {
      padding: 31rem 20rem;
    }
    &-star {
      width: 102rem;
      position: absolute;
      top: -46rem;
      left: -50rem;
      user-select: none;
      pointer-events: none;
      @media (max-width: $lg) {
        width: 62rem;
        top: -40rem;
        left: -21rem;
      }
      @media (max-width: $md) {
        width: 52rem;
        top: -28rem;
        left: -8rem;
      }
      @media (max-width: $sm) {
        left: 16rem;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    &-main {
      margin: 0 0 100rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: $md) {
        margin-bottom: 112rem;
      }
      @media (max-width: $sm) {
        margin-bottom: 0;
        padding-bottom: 166rem;
        flex-wrap: wrap;
      }
      &-title {
        max-width: 530rem;
        margin: 0 40rem 0 0;
        font-weight: normal;
        @media (max-width: $lg) {
          margin-right: 20rem;
          font-size: 16rem;
        }
        @media (max-width: $md) {
          margin-right: 14rem;
          font-weight: 500;
          font-size: 14rem;
        }
        @media (max-width: $sm) {
          max-width: 100%;
          margin-right: 0;
          font-size: 12rem;
        }
      }
      &-action {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        &-btn {
          @media (max-width: $sm) {
            position: absolute;
            right: 19rem;
            bottom: 31rem;
          }
        }
        &-picture {
          max-width: 120rem;
          margin: 0 0 0 -24rem;
          flex: 0 0 120rem;
          user-select: none;
          pointer-events: none;
          @media (max-width: $lg) {
            max-width: 76rem;
            flex-basis: 76rem;
            margin: 0 -70rem 0 -16rem;
            align-self: center;
          }
          @media (max-width: $md) {
            max-width: 82rem;
            flex-basis: 82rem;
            margin: -36rem -40rem 0 -42rem;
            align-self: flex-start;
          }
          @media (max-width: $sm) {
            max-width: 120rem;
            margin: 0;
            position: absolute;
            top: -76rem;
            right: 4rem;
            z-index: -1;
          }
          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &-logo {
      font-weight: 500;
      line-height: 1;
      display: inline-block;
      font-family: $fontAccent;
      text-transform: uppercase;
      transition: $transition;
      @media (max-width: $sm) {
        margin-bottom: 8rem;
      }
      &:hover,
      &:focus,
      &:active {
        opacity: .7;
        text-decoration: none;
      }
      &-suptitle {
        margin: 0 0 2rem;
        display: block;
        font-size: 20rem;
        @media (max-width: $md) {
          margin-bottom: 7rem;
          font-size: 16rem;
        }
        @media (max-width: $sm) {
          margin-bottom: 4rem;
          font-size: 13rem;
        }
      }
      &-title {
        margin: 0 0 0 -.07em;
        display: block;
        font-size: 51rem;
        letter-spacing: .014em;
        @media (max-width: $md) {
          font-size: 41rem;
          letter-spacing: .01em;
        }
        @media (max-width: $sm) {
          font-size: 33rem;
          letter-spacing: .02em;
        }
      }
    }
    &-social {
      flex-shrink: 0;
    }
  }
  &__info {
    padding: var(--rhythm-7);
    @media (max-width: $lg) {
      padding: 30rem;
    }
    @media (max-width: $md) {
      padding: 27rem 31rem;
    }
    @media (max-width: $sm) {
      padding: 27rem 19rem 19rem;
    }
    &-text {
      text-align: right;
      @media (max-width: $md) {
        display: flex;
        font-size: 12rem;
        flex-wrap: wrap;
      }
      @media (max-width: $sm) {
        max-width: 64%;
        text-align: left;
      }
      p {
        margin: 0;
        @media (max-width: $md) {
          max-width: 50%;
          flex: 0 0 50%;
        }
        @media (max-width: $sm) {
          max-width: 100%;
          flex-basis: 100%;
          line-height: 1.82;
        }
        &:not(:last-child) {
          margin-bottom: 2rem;
          @media (max-width: $sm) {
            margin-bottom: 0;
          }
        }
        &:nth-child(odd) {
          @media (max-width: $md) {
            text-align: left;
          }
        }
      }
      a {
        transition: $transition;
        &:hover,
        &:focus,
        &:active {
          color: $grayColor;
          text-decoration: none;
        }
      }
    }
  }
  &__copyright {
    margin-top: var(--rhythm-3);
    padding: var(--rhythm-3) 0;
    color: $grayColor;
    position: relative;
    @media (max-width: $lg) {
      margin-top: 20rem;
    }
    @media (max-width: $md) {
      margin-top: 8rem;
      padding: 4rem 0;
      font-size: 12rem;
    }
    @media (max-width: $sm) {
      padding: 16rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-title {
      margin: 0;
      text-align: center;
    }
    &-design {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      @media (max-width: $sm) {
        position: relative;
      }
      a {
        transition: $transition;
        &:hover,
        &:focus,
        &:active {
          color: $whiteColor;
          text-decoration: none;
        }
      }
    }
  }
}